/* Global themes */
body.light {
     background-color: #ffffff;
     color: #000000;
}

body.dark {
     background-color: #121212;
     color: #ffffff;
}

.theme-page {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 14px;
     background-color: #ffffff;
     width: 1600px;
     height: 1000px;
}

body.dark .theme-page {
     background-color: #121212;
}

/* Button */
.toggle-btn {
     padding: 12px 24px;
     border-radius: 8px;
     border: none;
     cursor: pointer;
     font-size: 16px;
     background: #4f46e5;
     color: white;
}