.light {
  background-color: #ffffff;
  color: #000000;
  min-height: 100vh;
  padding: 40px;
}

.dark {
  background-color: #121212;
  color: #ffffff;
  min-height: 100vh;
  padding: 40px;
}

button {
  padding: 10px 18px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
}